<div class="row">
    <div class="col-6">
        <div id="logo">
            <app-logo></app-logo>
        </div>
    </div>
    <div class="col-6">
        <div id="logo">
            <div class="row ">
                <div class="col-12 ms-5 pt-5">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <a routerLink="/" class="underline-progress">
                                <h1 class="pt-5" name="logo">
                                    Volver a Inicio</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 d-flex justify-content-center align-items-center">
                <h1>Administración</h1>
            </div>
            <div class="col-8 d-flex justify-content-center align-items-center enlaces">
                <div class="row d-flex justify-content-center">
                    <div routerLink="usuarios" class="enlace col-3 px-5 d-flex justify-content-center align-items-center"><h5>Usuarios</h5></div>
                    <div routerLink="videojuegos" class="enlace col-3 px-5 d-flex justify-content-center align-items-center"><h5>Videojuegos</h5></div>
                    <div routerLink="facturas" class="enlace col-3 px-5 d-flex justify-content-center align-items-center"><h5>Facturas</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8" id="tabla">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>