<app-dashboard-secundario></app-dashboard-secundario>

<div class="row" id="administracion">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 d-flex justify-content-center align-items-center">
                <h1>Administración</h1>
            </div>
            <div class="col-8 d-flex justify-content-center align-items-center enlaces">
                <div class="row d-flex justify-content-center">
                    <div routerLinkActive="active" routerLink="usuarios" class="enlace col-5 px-5 d-flex justify-content-center align-items-center"><h5>Usuarios</h5></div>
                    <div routerLinkActive="active" routerLink="videojuegos" class="enlace col-5 px-5 d-flex justify-content-center align-items-center"><h5>Videojuegos</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="datos">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-11" id="tabla">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>