<div class="row cabecera" style="background-color: #333232;">
    <div class="col-4 offset-4 d-flex justify-content-center align-items-center">
        <app-logo></app-logo>
    </div>
    <div class="col-4">
        <div class="row h-100 d-flex justify-content-end align-items-center">
            <div *ngIf="isAdmin()" class="col-5 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <div>
                            <h6>
                                <a class="underline-progress" routerLink="/administrador">
                                    Administrar tienda
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="row h-100">
                    <div class="col-12 d-flex justify-content-center align-items-center carrito">
                        <div (click)="toggleCarrito()">
                            <span class="dropdown-toggle material-symbols-outlined" >
                                shopping_cart
                            </span>
                            <span *ngIf="pedidos.length!=0" class="contadorCarrito">
                                {{pedidos.length}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="row h-100">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div ngbDropdown class="dropdown">
                            <span id="dropdownMenuButton2" ngbDropdownToggle class="h-100 material-symbols-outlined">
                                account_circle
                            </span>
                            <ul class="lista" ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                                <!-- <li><a ngbDropdownItem>Bienvenido, David</a></li> -->
                                <li *ngIf="!isAuthenticated()"><a routerLink="/login" ngbDropdownItem>Iniciar Sesión</a>
                                </li>
                                <li *ngIf="isAuthenticated()"><a class="cerrarSesion" (click)="logout()"
                                        ngbDropdownItem><span>Cerrar Sesión</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>