<div class="row">
    <div class="col-4 offset-4 d-flex justify-content-center align-items-center">
        <app-logo></app-logo>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-4 offset-6 d-flex justify-content-end px-3">
                <div class="row">
                    <div class="col-12 pt-5 pb-5">
                        <div>
                            <a class="underline-progress" routerLink="administrador">
                                <h6>
                                    Administrar tienda
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 px-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end align-items-start pt-5 pb-5">
                        <div class="dropdown">
                            <span class="dropdown-toggle material-symbols-outlined">
                                shopping_cart
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 ps-3">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end align-items-start pt-5 pb-5">
                        <div ngbDropdown class="dropdown">
                            <span id="dropdownMenuButton2" ngbDropdownToggle class="material-symbols-outlined">
                                account_circle
                            </span>
                            <ul class="lista" ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                                <!-- <li><a ngbDropdownItem>Bienvenido, David</a></li> -->
                                <li><a routerLink="/login" ngbDropdownItem>Iniciar Sesión</a></li>
                                <li><a routerLink="/registro" ngbDropdownItem><span>Registrarme</span></a></li>
                                <li><a ngbDropdownItem><span>Cerrar Sesión</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>