
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.cabecera{
    position:sticky;
    top: 0;
    background-color: #333232 !important;
    z-index:1001;
}

a{
    text-decoration: none;
}

.material-symbols-outlined {
    user-select: none;
    transform: scale(1.9);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.dropdown-toggle {
    color:goldenrod;
    cursor: pointer;
    &::after{
        content: none;
    }
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0;
}

.lista {
    background-color: rgb(241, 172, 69) !important;
    transform: translate3d(3vw, 7vh, 0px) !important;
    
    & li a{
        padding-right:100px;
        cursor: pointer;
        &:hover{
            background-color: rgb(243, 193, 117);
        }
    } 
}

h6 a{
    color:rgb(241, 172, 69);
}


a {
    color: #ffffff;
    text-decoration: none;

    &.underline-simple:hover {
        background-color: rgb(241, 172, 69);
        text-decoration: underline;
    }
}

.underline-progress {
    position: relative;
}

.underline-progress::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(241, 172, 69);
    transition: width 0.5s ease-in-out;
}

.underline-progress:hover::before {
    width: 100%;
}

.cerrarSesion:hover > span{
    color:rgb(255, 32, 32);
}
