
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.cabecera{
    height:23vh;
    position:sticky;
    top: 0;
    background-color: #333232 !important;
    z-index:1001;
}

a{
    text-decoration: none;
}

.carrito{
    height:100%;

    & .contadorCarrito{
        cursor: pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: fixed;
        top: 3.6vw;
        right: 7.55vw;
        background-color: goldenrod;
        color: #fff;
        width: 1.3vw;
        height: 1.3vw;
        text-align: center;
    }
}

.material-symbols-outlined {
    user-select: none;
    transform: scale(2);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.dropdown-toggle {
    color:goldenrod;
    cursor: pointer;
    &::after{
        content: none;
    }
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0;
}

.lista {
    background-color: rgb(241, 172, 69) !important;
    transform: translate3d(2.01vw, 7vh, 0px) !important;
    
    & li a{
        padding-right:100px;
        cursor: pointer;
        &:hover{
            background-color: rgb(243, 193, 117);
        }
    } 
}

h6 a{
    color:rgb(241, 172, 69);
}


a {
    color: #ffffff;
    text-decoration: none;

    &.underline-simple:hover {
        background-color: rgb(241, 172, 69);
        text-decoration: underline;
    }
}

.underline-progress {
    position: relative;
}

.underline-progress::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(241, 172, 69);
    transition: width 0.5s ease-in-out;
}

.underline-progress:hover::before {
    width: 100%;
}

.cerrarSesion:hover > span{
    color:rgb(255, 32, 32);
}
