<div class="row">
    <div class="col-6">
        <div id="logo">
            <app-logo></app-logo>
        </div>
    </div>
    <div class="col-6">
        <div id="logo">
            <div class="row ">
                <div class="col-12 ms-5 pt-5">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <a routerLink="/" class="underline-progress">
                                <h1 class="pt-5" name="logo">
                                    Volver a Inicio</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="creacion">
    <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8">
                <h3>
                    Edición de usuario
                </h3>
                <hr>
            </div>
        </div>
        <div class="row ">
            <div class="formulario justify-content-center d-flex align-items-center">
                <div class="col-8 caja">
                    <div class="row dato">
                        <div class="col-5">
                            <label for="nombre">
                                Nombre:
                            </label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="nombre" class="entrada nombre" id="nombre" autocomplete="off" placeholder="Juan Manuel" [(ngModel)]="usuario.nombre">
                        </div>
                    </div>
                    <div class="row dato">
                        <div class="col-5">
                            <label for="apellidos">
                                Apellidos:
                            </label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="apellidos" class="entrada apellidos" id="apellidos" autocomplete="off" placeholder="Fernandez Malaver" [(ngModel)]="usuario.apellidos">
                        </div>
                    </div>
                    <div class="row dato">
                        <div class="col-5">
                            <label for="email">
                                Email:
                            </label></div>
                        <div class="col-7">
                            <input type="email" name="email" class="entrada email" id="email" autocomplete="off" placeholder="juanma01@gmail.com" [(ngModel)]="usuario.email">
                        </div>
                    </div>
                    <div class="row dato">
                        <div class="col-5">
                            <label for="username">
                                Username:
                            </label>
                        </div>
                        <div class="col-7"> 
                            <input type="text" name="username" class="entrada username" id="username" autocomplete="off" placeholder="juanma01" [(ngModel)]="usuario.username">
                        </div>
                    </div> 
                    <div class="row dato">
                        <div class="col-5">
                            <label for="password">
                                Password:
                            </label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="password" class="entrada password" id="password" autocomplete="off" placeholder="Si no modifica este campo se dejará como estaba" [(ngModel)]="usuario.password">
                        </div>   
                    </div>
                    <div class="row dato">
                        <div class="col-5">
                            <label for="comunidadAutonoma">
                                Comunidad Autonoma:
                            </label>
                        </div>
                        <div class="col-7">
                            <input type="text" name="comunidadAutonoma" class="entrada comunidadAutonoma" id="comunidadAutonoma" autocomplete="off" placeholder="Andalucia" [(ngModel)]="usuario.comunidadAutonoma">
                        </div>
                    </div>
                    <div class="row dato">
                        <div class="col-5">
                            <label for="fechaNac">
                                Fecha Nacimiento:
                            </label>
                        </div>
                        <div class="col-7">
                            <input type="date" name="fechaNac" class="entrada fechaNac" id="fechaNac" autocomplete="off" placeholder="dd/MM/yyyy" [ngModel]="usuario.fechaNac | date:'yyyy-MM-dd'"
                            (ngModelChange)="usuario.fechaNac=$event">
                        </div>
                    </div>
                    <div class="row dato mt-5">
                        <div class="col-2">
                            <input (click)="editarUsuario()" type="button" name="crear" class="crear" id="crear" value="Editar">
                        </div>
                        
                        <div class="col-2 offset-8 d-flex justify-content-end">
                            <a routerLink="../.." class="volver underline-progress">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
