<div class="bloqueCarrito">
    <div class="contenidoCarrito ">
        <div class="contenido">
            <h1 class="d-flex justify-content-center">
                Carrito
            </h1>
            <hr>
            <div *ngIf="pedidos.length==0" class="carritoVacio">
                <h2 class="d-flex justify-content-center">¡Vaya!</h2>
                <h4 class="d-flex justify-content-center">Parece que aún no has añadido ningún juego</h4>
                <h6 class="d-flex justify-content-center">Vuelve por aquí más tarde cuando ya tengas decidido tu próximo juego o mira nuestras sugerencias</h6>

                <div class="d-flex justify-content-center">
                    <a class="sugerencias" id="sugerencias" routerLink="/videojuegos">Ir a sugerencias</a>
                </div>
            </div>
            <div *ngIf="pedidos.length!=0" class="carrito">
                <div class="pedidos">
                    <div class="pedido mb-2" *ngFor="let pedido of pedidos">
                        <img class="caratula py-1" src="../../../../assets/caratulas/{{pedido.videojuego.url}}.jpg" onerror="this.src='../../../../assets/caratulas/404-not-found.jpg'" alt="">
                        <div class="datosPedido pb-2">
                            <h6 class="titulo">{{pedido.videojuego.nombreVideojuego}}</h6>
                            <h6 class="empresa">{{pedido.videojuego.nombreConsola}}</h6>
                            <div class="cantidadPrecio">
                                <h5 class="cantidad">
                                    <div class="cantidadCaja">
                                        <button (click)="reduceCantidad(pedido)" class="cantidadBtn menos">-</button>
                                        <input type="text" (ngModelChange)="verificarNumero(pedido)" [ngModel]="pedido.cantidad" id="cantidad{{pedido.videojuego.nombreVideojuego}}{{pedido.videojuego.nombreConsola}}" class="cantidadValue" value="1" min="1">
                                        <button (click)="aumentaCantidad(pedido)" class="cantidadBtn mas">+</button>
                                      </div>                                      
                                </h5>
                                <h5 class="d-flex align-items-center precio">{{pedido.videojuego.precio * pedido.cantidad | number}}€</h5>
                            </div>
                        </div>
                        <span (click)="quitarPedido(pedido)" class="quitarPedido material-symbols-outlined">
                            close
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="total d-flex justify-content-between align-items-center">
                <h4>
                    Total:
                </h4>
                <h4>
                    {{total | currency:'EUR':'symbol':'1.2-2'}}
                </h4>
                
            </div>
            <div class="total mt-4 d-flex justify-content-center align-items-center">
                <h5 class="pagar">Proceder al pago</h5>
            </div>
        </div>
        
    </div>
</div>
<div class="botonCierre" (click)="toggleCarrito()">
    <span class="material-symbols-outlined control prev">
        chevron_right
    </span>
</div>