<div class="carrito">
    <div class="cerrarCarrito">
        <div class="botonCierre">
            <span (click)="toggleCarrito()" class="material-symbols-outlined control prev">
                chevron_right
            </span>
        </div>
    </div>

    <div class="contenidoCarrito d-flex justify-content-center">
        <div class="contenido">
            <h2 class="d-flex justify-content-center">
                Carrito de compra
            </h2>
        </div>
        
    </div>
</div>