<app-dashboard-secundario></app-dashboard-secundario>

<div id="cuerpo" class="row">
    <div class="row d-flex justify-content-center">
        <div class="col-10 cuerpo">
            <div class="row">
                <div class="col-12" id="registro">
                    <div class="row">
                        <div class="col-12" id="contenedor-registro">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center titulo">
                                    <h2>REGISTRO</h2>
                                </div>
                                <div class="col-12 ">
                                    <div class="formulario">
                                        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                                            <div class="row fila">
                                                <div class="col-sm-4">
                                                    <div class="input-container">
                                                        <input type="text" id="nombre" formControlName="nombre"
                                                            autocomplete="off" required />
                                                        <label class="label" for="nombre">Nombre</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('nombre')?.invalid) || (registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched)">
                                                            {{ getErrorMessage('nombre') }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="input-container">
                                                        <input type="text" id="apellidos" formControlName="apellidos" 
                                                            autocomplete="off" required />
                                                        <label class="label" for="apellidos">Apellidos</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('apellidos')?.invalid) || (registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched)">
                                                            {{ getErrorMessage('apellidos') }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row fila">
                                                <div class="col-sm-6">
                                                    <div class="input-container">
                                                        <input type="text" id="email" formControlName="email"
                                                            autocomplete="off" required />
                                                        <label class="label" for="email">Email</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('email')?.invalid) || (registroForm.get('email')?.invalid && registroForm.get('email')?.touched)">
                                                            {{ getErrorMessage('email') }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-container">
                                                        <input class="scrollable" type="text" name="comunidadAutonoma" formControlName="comunidadAutonoma"
                                                            id="comunidadAutonoma" list="datalistComunidades" required>
                                                            <label class="label" for="comunidadAutonoma">Comunidad Autónoma</label>
                                                            <datalist id="datalistComunidades">
                                                                <option *ngFor="let comunidad of this.ccaa"
                                                                    value="{{comunidad}}">
                                                                    <span>{{comunidad}}</span>
                                                                </option>
                                                            </datalist>
                                                            <div class="error-message" *ngIf="(formSubmitted && registroForm.get('comunidadAutonoma')?.invalid) || (registroForm.get('comunidadAutonoma')?.invalid && registroForm.get('comunidadAutonoma')?.touched)">
                                                                {{ getErrorMessage('comunidadAutonoma') }}
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row fila">
                                                <div class="col-sm-5">
                                                    <div class="input-container">
                                                        <input type="text" id="username" formControlName="username"
                                                            autocomplete="off" required />
                                                        <label class="label" for="username">Usuario</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('username')?.invalid) || (registroForm.get('username')?.invalid && registroForm.get('username')?.touched)">
                                                            {{ getErrorMessage('username') }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="fechaNac ">
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col-4 ">
                                                                <label class="fechaNac" for="fechaNac">Nacimiento:</label>
                                                            </div>
                                                            <div class="col-7 ">
                                                                <div>
                                                                    <input type="date" id="fechaNac" formControlName="fechaNac"
                                                                        autocomplete="off" required />
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="error-message" *ngIf="(formSubmitted && registroForm.get('fechaNac')?.invalid) || (registroForm.get('fechaNac')?.invalid && registroForm.get('fechaNac')?.touched)">
                                                        {{ getErrorMessage('fechaNac') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row fila">
                                                <div class="col-sm-6">
                                                    <div class="input-container">
                                                        <input type="password" id="contrasenna"
                                                            autocomplete="off" formControlName="contrasenna" required />
                                                        <label class="label" for="contrasenna">Contraseña</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('contrasenna')?.invalid) || (registroForm.get('contrasenna')?.invalid && registroForm.get('contrasenna')?.touched)">
                                                            {{ getErrorMessage('contrasenna') }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-container">
                                                        <input type="password" id="confirContrasenna" formControlName="confirContrasenna" 
                                                            autocomplete="off" required />
                                                        <label class="label" for="confirContrasenna">Repetir contraseña</label>
                                                        <div class="error-message" *ngIf="(formSubmitted && registroForm.get('confirContrasenna')?.invalid) || (registroForm.get('confirContrasenna')?.invalid && registroForm.get('confirContrasenna')?.touched)">
                                                            {{ getErrorMessage('confirContrasenna') }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center align-items-center pt-4">
                                                <div (click)="onSubmit()"
                                                    class="boton d-flex justify-content-center align-items-center">
                                                    <h5><button type="submit">Enviar</button></h5>
                                                </div>
                                            </div>
                                        </form>
                                        


                                        <a routerLink="/login"
                                            class="underline-simple d-flex align-items-center justify-content-center mt-3">¿Ya
                                            tienes una cuenta?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>