
#logo {
    height: 20vh;
    margin-top:-6vh;
    margin-bottom:-5vh;
    transform: scale(0.5);
}

a {
    color: #ffffff;
    text-decoration: none;

    &.underline-simple:hover {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.underline-progress {
    position: relative;
}

.underline-progress::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: #ffffff;
    transition: width 0.5s ease-in-out;
}

.underline-progress:hover::before {
    width: 100%;
}

h1{
    color:white;
    cursor: pointer;
}

#creacion{
    margin-top: 10vh;
    margin-bottom: 5vh;
    color:white;
    & hr{
        padding-top: 0;
        border: 2px solid rgb(255, 255, 255);
    }
}

.formulario{
    font-size: 3vh;
}

.entrada{
    width: 33vw;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color:white;
    font-size: 2.7vh;
    &:focus{
        outline: none;
    }
    
}