<div class="row">
    <div class="col-12">
        <div class="row cuerpo">
            <div class="tabla">
                <table class="table">
                    <thead>
                        <tr>
                            <th><span class="d-flex justify-content-center align-items-center">Videojuego</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Consola</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Empresa</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Lanzamiento</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Franquicia</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">PEGUI</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Genero</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Jugadores</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Precio</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Stock</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Url</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Editar</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let videojuego of this.videojuegos">
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.nombreVideojuego}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.nombreConsola}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.empresa}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.fechaLanzamiento | date:'dd/MM/yyyy'}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.franquicia}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.clasificacionEdad}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.genero}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.numJugadores}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.precio}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.stock}}</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">{{videojuego.url}}</span></td>
                            <td>
                                <span class="d-flex justify-content-center align-items-center">
                                    <input routerLink="/administrador/usuarios/editarUsuario/{{videojuego.nombreVideojuego}}/{{videojuego.nombreConsola}}" type="button" id="botonEditar" class="mx-1 boton botonEditar" value="Actualizar">
                                    <input (click)="eliminarVideojuego(videojuego.nombreVideojuego, videojuego.nombreConsola)" type="button" id="botonEliminar" class="mx-1 boton botonEliminar" value="Eliminar">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="p-0">
                <a class="crear" routerLink="/administrador/videojuegos/crearVideojuego">Crear un nuevo videojuego</a>
            </div>
        </div>
    </div>
</div>