<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="tabla">
                <table class="table">
                    <thead>
                        <tr>
                            <th><span class="d-flex justify-content-center align-items-center">Id</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Nombre</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Apellidos</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Email</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Username</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Comunidad Autonoma</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Facturas</span></th>
                            <th><span class="d-flex justify-content-center align-items-center">Editar</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="d-flex justify-content-center align-items-center">R1C1</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">R1C2</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">R1C3</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">R1C1</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">R1C2</span></td>
                            <td><span class="d-flex justify-content-center align-items-center">R1C3</span></td>
                            <td><span class="d-flex justify-content-center align-items-center"><a href=""><h5>...</h5></a></span></td>
                            <td>
                                <span class="d-flex justify-content-center align-items-center">
                                    <input type="button" class="mx-1 boton botonEliminar" value="Eliminar">
                                    <input type="button" class="mx-1 boton botonEditar" value="Actualizar">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>