@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: fuenteStarWars;
    src: url('./assets/fuentes/star_wars/stjedise/STJEDISE.TTF') format('truetype');
}

@font-face {
    font-family: fuenteCallofDuty;
    src: url('./assets/fuentes/call_of_duty/Call\ of\ Ops\ Duty.otf') format('truetype');
}

@font-face {
    font-family: fuenteAssassins;
    src: url('./assets/fuentes/assassins_creed/Assassin$.ttf') format('truetype');
}

@font-face {
    font-family: fuenteMarioBros;
    src: url('./assets/fuentes/CHLORINP.TTF') format('truetype');
}

.container-fluid{
    background-color: #e9e3e3 ;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.material-symbols-outlined {
    user-select: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}