h1[name=logo]{
    user-select: none;
    color:goldenrod;
    font-size: 70px;
    background-image: url("../../../../assets/mando.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}