
h1[name=logo]{
    user-select: none;
    color:goldenrod;
    font-size: 50px;
    background-image: url("../../../../assets/mando.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transform: translate3d(0,0,50px);
}

a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}

@media (min-width: 0px) and (max-width: 576px) {
    h1[name=logo]{
        font-size: 35px;
        background-size: 55%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    h1[name=logo]{
        font-size: 40px;
        background-size: 55%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    h1[name=logo]{
        font-size: 40px;
        background-size: 50%;
    }
}
