@keyframes apareceBuscador{
    0%{
        display:none;
        visibility: hidden;
    }
    60%{
        display:block;
        visibility: hidden;
    }
    70%{
        display:block;
        visibility: visible;
    }
}

#home {
    background-color: #333232;
}

#buscador {
    user-select: none;
    display: flex;
    justify-content: center;

    border-radius: 45px;

    background-color: white;
    & #textoBuscador{
        display:none;
        width:0;
        transition: 0.8s;
        &.busquedaActivada{
            transition:1.1s;
            width:18vw;
        }

        & #busqueda {
            display:none;
            visibility: visible;
            &.busquedaActivada{
                width:100%;
                display:block;
                animation: apareceBuscador;
                animation-duration: 1.1s;
            }
            border: 0;
    
            &:focus {
                border: 0;
                outline: none;
            }
        }
    }

    

    & #icono {
        display: flex;
        justify-content: end;
        width:100%;
        &.busquedaActivada{
            width:6vw;
        }
        padding: 10px;
        border-radius: 45px;
        background-color: rgb(241, 172, 69);

        & span {
            cursor: pointer;
            transform: scale(1.5);
        }
    }
}

#busquedaAvanzada {
    user-select: none;
    color: rgb(241, 172, 69);

    & #botonDropdownBusqueda {
        cursor: pointer;
    }

    & .lista {
        height: 6vh;

        & div span {
            cursor: pointer;
        }
    }
}

.dropdown{
    animation-name: alargar; /* nombre del keyframe */
    animation-duration: 2s; /* duración de la animación en segundos */
    animation-fill-mode: forwards;
    & .dropdown-menu {
        --bs-dropdown-min-width: 0;
    }
    & ul{
        background-color: #333232;
        & li{
            
            & a{
                cursor: pointer;
                color:white;
                &:hover{
                    background-color: #424141;
                }
            }
        }
    }
    
}

#cuerpo{
    background-color: #333232;
}