<app-dashboard></app-dashboard>
    <!-------------- BUSCADOR --------------->
    <div class="row d-flex justify-content-center " id="home">
        <div class="col-10 pt-5 pb-5">
            <div class="row d-flex  align-items-center">
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 justify-content-center d-flex">
                    <div id="buscador" [ngClass]="{'busquedaActivada':buscador}" class="row">
                        <div id="textoBuscador" class="d-flex justify-content-start align-items-center">
                            <input (keyup.enter)="buscar()" [(ngModel)]="this.busqueda" type="text" placeholder="Introduzca un título" name="busqueda" id="busqueda" >
                        </div>
                        <div (click)="buscar()" id="icono" class="d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined ">
                                search
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------- CUERPO ------------->
    <div id="cuerpo" class="row pb-5" >
        <app-tendencias *ngIf="this.videojuegos" [videojuegosPadre]="this.videojuegos"></app-tendencias>

        <div *ngFor="let number of generateNumbers(0, 2)">
            <app-videojuego-recomendado *ngIf="this.videojuegosRecomendados" [videojuegoRecomendadoPadre]="this.videojuegosRecomendados[number]"> </app-videojuego-recomendado>

            <app-franquicia *ngIf="this.videojuegosFranquicia.length!=0" [videojuegosFranquiciaPadre]="this.videojuegosFranquicia[number]"></app-franquicia>
        </div>
    </div>

