<app-dashboard></app-dashboard>
    <!-------------- BUSCADOR --------------->
    <div class="row" id="home">
        <div class="col-12 pt-3 pb-3">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-3 justify-content-center d-flex">
                    <div id="buscador" [ngClass]="{'busquedaActivada':buscador}" class="row">
                        <div [ngClass]="{'busquedaActivada':buscador}" id="textoBuscador" class="d-flex justify-content-start align-items-center">
                            <input [(ngModel)]="this.busqueda" type="text" placeholder="Introduzca un título" name="busqueda" id="busqueda" [ngClass]="{'busquedaActivada':buscador}">
                        </div>
                        <div (click)="buscar()" id="icono" [ngClass]="{'busquedaActivada':buscador}" class="d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined ">
                                search
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" id="busquedaAvanzada">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="dropdown col-3">
                    <span id="botonDropdownBusqueda" class="row" (click)="changebusquedaAvanzada()">
                        <div class="col d-flex justify-content-center align-items-center p-0 d-flex">
                            Busqueda avanzada
                            <span class="material-symbols-outlined" id="btnDropdown">
                                expand_more
                            </span>
                        </div>
                    </span>


                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-5">
                    <div class="lista row ">
                        <div *ngIf="this.busquedaAvanzada" class="d-flex justify-content-center ">
                            <div class="col-4 p-0 d-flex justify-content-center">
                                <div ngbDropdown class="dropdown">
                                    <span ngbDropdownToggle>
                                        Consolas
                                    </span>
                                    <ul ngbDropdownMenu>
                                        <li><a ngbDropdownItem>PC</a></li>
                                        <li><a ngbDropdownItem>PS4</a></li>
                                        <li><a ngbDropdownItem>PS5</a></li>
                                        <li><a ngbDropdownItem>XBOX ONE</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-4 p-0 d-flex justify-content-center">
                                <div ngbDropdown class="dropdown">
                                    <span ngbDropdownToggle>
                                        Género
                                    </span>
                                    <ul ngbDropdownMenu>
                                        <li><a ngbDropdownItem>Terror</a></li>
                                        <li><a ngbDropdownItem>Aventuras</a></li>
                                        <li><a ngbDropdownItem>Deportes</a></li>
                                        <li><a ngbDropdownItem>Acción</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-4 p-0 d-flex justify-content-center">
                                <div ngbDropdown class="dropdown">
                                    <span ngbDropdownToggle>
                                        Modos de juego
                                    </span>
                                    <ul ngbDropdownMenu>
                                        <li><a ngbDropdownItem>Un jugador</a></li>
                                        <li><a ngbDropdownItem>Multijugador</a></li>
                                        <li><a ngbDropdownItem>Cooperativo</a></li>
                                        <li><a ngbDropdownItem>Competitivo</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------- CUERPO ------------->
    <div id="cuerpo" class="row pb-5" >
        <app-tendencias *ngIf="this.videojuegos" [videojuegosPadre]="this.videojuegos"></app-tendencias>
        
        <app-videojuego-recomendado class="pt-5" *ngIf="this.videojuegosRecomendados" [videojuegoRecomendadoPadre]="this.videojuegosRecomendados[0]"> </app-videojuego-recomendado>

        <app-franquicia class="pt-5" *ngIf="this.videojuegosFranquicia.length!=0" [videojuegosFranquiciaPadre]="this.videojuegosFranquicia[0]"></app-franquicia>

        <app-videojuego-recomendado *ngIf="this.videojuegosRecomendados" [videojuegoRecomendadoPadre]="this.videojuegosRecomendados[1]"> </app-videojuego-recomendado>
        <app-videojuego-recomendado *ngIf="this.videojuegosRecomendados" [videojuegoRecomendadoPadre]="this.videojuegosRecomendados[2]"> </app-videojuego-recomendado>
    </div>

<app-carrito *ngIf="carritoVisible"></app-carrito>